
.bouns{
    animation: animate 3s ease-in-out infinite;
}
@keyframes animate{
    0%{
        transform: translateY(-8px);
    }
    50%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(-8px);
    }
}